In [1]:
import pandas as pd
import numpy as np

In [31]:
row = 100
cols = 7

# my_dict = {'careers': [1, 2, 3, 4, 5, 6],
#            'quiz': [7, 8, 9, 10],

Random = np.random.randint(low=0, high=100, size=row)
Random2 = np.random.randint(low=0, high=100, size=row)
random3 = np.random.randint(low=0, high=1, size=row, dtype=int)
post_rand = np.random.randint(low=1, high=20, size=row, dtype=int)


df = pd.DataFrame({#'Title': Random, 
                   'Topic': Random2*10,
                   'Post ID': post_rand, 
                   '# of clicks': Random2*10,
                   '# of students': Random, 
                   'Date': Random2*10,
                   'Required': random3})

# df = pd.DataFrame(columns = ['Title', 'Topic', 'Post ID','% of clicks','% of students','Date', 'Required'])
# df = pd.DataFrame({'angles': [0, 3, 4],
#                    'degrees': [360, 180, 360]},
print(df)

    Topic  Post ID  # of clicks  # of students  Date  Required
0     640        1          640             78   640         0
1     850        9          850             26   850         0
2     990       14          990             73   990         0
3      50       13           50             52    50         0
4     150       13          150             93   150         0
..    ...      ...          ...            ...   ...       ...
95    120        4          120             74   120         0
96    850        5          850             84   850         0
97    460       18          460             10   460         0
98    360       18          360             38   360         0
99    340        6          340             71   340         0

[100 rows x 6 columns]

In [42]:
row = 100
cols = 7

# my_dict = {'careers': [1, 2, 3, 4, 5, 6],
#            'quiz': [7, 8, 9, 10],

Random = np.random.randint(low=0, high=100, size=row)
Random2 = np.random.randint(low=0, high=100, size=row)
random3 = np.random.randint(low=0, high=1, size=row, dtype=int)
post_rand = np.random.randint(low=1, high=20, size=row, dtype=int)


df = pd.DataFrame({'course': ['DSCI 100','STAT 201', 'DSCI 100','STAT 201','DSCI 100','STAT 201','DSCI 100','STAT 201','DSCI 100','STAT 201',],
                    'Topic': ['homework','quiz','career','social','career','quiz','homework','homework','social','homework'],
                   'Post ID': [1,2,3,4,5,6,7,8,9,10], 
                   'Required': [1,0,0,1,1,0,0,1,0,1]})

# df = pd.DataFrame(columns = ['Title', 'Topic', 'Post ID','% of clicks','% of students','Date', 'Required'])
# df = pd.DataFrame({'angles': [0, 3, 4],
#                    'degrees': [360, 180, 360]},
print(df)

     course     Topic  Post ID  Required
0  DSCI 100  homework        1         1
1  STAT 201      quiz        2         0
2  DSCI 100    career        3         0
3  STAT 201    social        4         1
4  DSCI 100    career        5         1
5  STAT 201      quiz        6         0
6  DSCI 100  homework        7         0
7  STAT 201  homework        8         1
8  DSCI 100    social        9         0
9  STAT 201  homework       10         1

In [41]:
df2 = pd.DataFrame({'Post ID': [1,2,3,4,5,6,7,8,9,10], 
                   'Date': ['dec1', 'dec1', 'dec1', 'dec1','dec1', 'dec1','dec1', 'dec1','dec1', 'dec1'],
                   'unique clicks': [5, 2, 7, 6, 9, 0, 1, 5, 3, 70]})
df2

   Post ID  Date  unique clicks
0        1  dec1              5
1        2  dec1              2
2        3  dec1              7
3        4  dec1              6
4        5  dec1              9
5        6  dec1              0
6        7  dec1              1
7        8  dec1              5
8        9  dec1              3
9       10  dec1             70

In [49]:
import datetime 

date_list = pd.date_range("2022-10-17", "2022-11-17", freq='D')
date_list

DatetimeIndex(['2022-10-17', '2022-10-18', '2022-10-19', '2022-10-20',
               '2022-10-21', '2022-10-22', '2022-10-23', '2022-10-24',
               '2022-10-25', '2022-10-26', '2022-10-27', '2022-10-28',
               '2022-10-29', '2022-10-30', '2022-10-31', '2022-11-01',
               '2022-11-02', '2022-11-03', '2022-11-04', '2022-11-05',
               '2022-11-06', '2022-11-07', '2022-11-08', '2022-11-09',
               '2022-11-10', '2022-11-11', '2022-11-12', '2022-11-13',
               '2022-11-14', '2022-11-15', '2022-11-16', '2022-11-17'],
              dtype='datetime64[ns]', freq='D')