In [30]:
import pandas as pd
import numpy as np
import altair as alt

In [33]:
c =  ['DSCI 100','DSCI 100','DSCI 100','DSCI 100','DSCI 100','DSCI 100','DSCI 100','DSCI 100','DSCI 100','DSCI 100',
      'STAT 201', 'STAT 201', 'STAT 201', 'STAT 201', 'STAT 201', 'STAT 201', 'STAT 201', 'STAT 201', 'STAT 201', 'STAT 201']
def func_rand(size):
    lis = []
    for number in range(size):
        lis.append(np.random.randint(2))
    return lis
df2 = pd.DataFrame({'course': c,
                   'Post ID': np.arange(1, 21, 1),
                   'Topic': 'homework',
                   'required': func_rand(20)})
df3 = pd.DataFrame({'course': c,
                    'Post ID': np.arange(21, 41, 1),
                   'Topic': 'quiz',
                   'required': func_rand(20)})
df4 = pd.DataFrame({'course': c,
                    'Post ID': np.arange(41, 61, 1),
                   'Topic': 'career',
                   'required': func_rand(20)})
df5 = pd.DataFrame({'course': c,
                   'Post ID': np.arange(61, 81, 1),
                   'Topic': 'social',
                   'required': func_rand(20)})
df2
df3
df4
df5
df = pd.concat([df2, df3, df4, df5]).reset_index()
df

    index    course  Post ID     Topic  required
0       0  DSCI 100        1  homework         1
1       1  DSCI 100        2  homework         0
2       2  DSCI 100        3  homework         0
3       3  DSCI 100        4  homework         1
4       4  DSCI 100        5  homework         0
..    ...       ...      ...       ...       ...
75     15  STAT 201       76    social         0
76     16  STAT 201       77    social         0
77     17  STAT 201       78    social         0
78     18  STAT 201       79    social         1
79     19  STAT 201       80    social         0

[80 rows x 5 columns]

In [60]:
# Create dataframe for each date

import datetime 

date_list = list(pd.date_range("2024-08-17", "2024-11-17", freq='W'))
n_posts = df.shape[0]
n_dates = len(date_list)

repeated_list = [item for item in date_list for _ in range(n_posts)]


n_rows = len(repeated_list)

# assemble df
dates_df = pd.DataFrame({
    'date': repeated_list,
    'post_id': df['Post ID'].tolist() * n_dates,
    'n_clicks': np.random.randint(low=0, high=100, size=n_rows)
})

merge_df = pd.merge(dates_df, df, left_on='post_id', right_on='Post ID')
merge_df['clicks_adjusted'] = np.where(merge_df['required'] == 1, round(merge_df['n_clicks'] * 1.3, 0), merge_df['n_clicks'])
merge_df = merge_df.drop(columns=['Post ID'])
merge_df.head(30)

,date,post_id,n_clicks,index,course,Topic,required,clicks_adjusted
0,2024-08-18,1,17,0,DSCI 100,homework,1,22.0
1,2024-08-18,2,13,1,DSCI 100,homework,0,13.0
2,2024-08-18,3,64,2,DSCI 100,homework,0,64.0
3,2024-08-18,4,10,3,DSCI 100,homework,1,13.0
4,2024-08-18,5,73,4,DSCI 100,homework,0,73.0
5,2024-08-18,6,20,5,DSCI 100,homework,0,20.0
6,2024-08-18,7,88,6,DSCI 100,homework,0,88.0
7,2024-08-18,8,57,7,DSCI 100,homework,0,57.0
8,2024-08-18,9,78,8,DSCI 100,homework,0,78.0
9,2024-08-18,10,47,9,DSCI 100,homework,0,47.0
10,2024-08-18,11,74,10,STAT 201,homework,1,96.0
11,2024-08-18,12,83,11,STAT 201,homework,0,83.0
12,2024-08-18,13,3,12,STAT 201,homework,1,4.0
13,2024-08-18,14,42,13,STAT 201,homework,1,55.0
14,2024-08-18,15,40,14,STAT 201,homework,1,52.0
15,2024-08-18,16,89,15,STAT 201,homework,1,116.0
16,2024-08-18,17,83,16,STAT 201,homework,0,83.0
17,2024-08-18,18,7,17,STAT 201,homework,1,9.0
18,2024-08-18,19,53,18,STAT 201,homework,1,69.0
19,2024-08-18,20,40,19,STAT 201,homework,1,52.0
20,2024-08-18,21,88,0,DSCI 100,quiz,1,114.0
21,2024-08-18,22,39,1,DSCI 100,quiz,0,39.0
22,2024-08-18,23,72,2,DSCI 100,quiz,1,94.0
23,2024-08-18,24,60,3,DSCI 100,quiz,1,78.0
24,2024-08-18,25,31,4,DSCI 100,quiz,0,31.0
25,2024-08-18,26,91,5,DSCI 100,quiz,1,118.0
26,2024-08-18,27,14,6,DSCI 100,quiz,0,14.0
27,2024-08-18,28,87,7,DSCI 100,quiz,0,87.0
28,2024-08-18,29,90,8,DSCI 100,quiz,1,117.0
29,2024-08-18,30,84,9,DSCI 100,quiz,0,84.0

In [78]:
merge_df = merge_df.groupby(by='date').agg({'clicks_adjusted' : 'sum'})
clicks_plot = alt.Chart(merge_df).mark_bar().encode(
    x='date:T',
    y='clicks_adjusted',
    color='Topic:N'
    #tooltip=['date:T', 'n_clicks:Q', 'Topic:N']
).properties(
    title='Number of Clicks Through Time',
    width=600,
    height=400
)
# Display the plot
clicks_plot

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'